<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/inventoryIndex.css">
    <title>My inventory</title>
</head>
<body>
    <%- include('../partials/_nav.ejs') %>

    <h1><%=currentUser.companyName%> inventory</h1>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Product Catagory</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% inventory.forEach((product) => { %>
            <tr>
                <td><%= product.productName %></td>
                <td><%= product.category %></td>
                <td><%= product.quantity %></td>
                <td><%= product.price %></td>
                <td><a href="/users/<%=user._id%>/inventory/<%=product._id%>/edit"><img src="https://i.imgur.com/kPz75P7.png" alt="Edit Icon" width="20" height="20"></a></td>
                <td><form action="/users/<%=user._id%>/inventory/<%=product._id%>?_method=delete" method="post">
                    <button type="submit" class="submit-button"><img src="https://i.imgur.com/cg1wHCv.png" alt="Delete Icon" width="20" height="20"></button>
                </td>
                </form>
            </tr>
        <% }) %>
    </table> <br>
    <button type="button" class="add-button"><a href="/users/<%=user._id%>/inventory/new">Add new Product</a></button>
</body>
</html>